<div class="sidebar">
  <div class="head">
    <i class="fas fa-chalkboard-teacher"></i>
    <div class="user-details">
      <p class="name">Alaa Nabil</p>
      <p class="title">Arabic Teacher</p>
    </div>
  </div>
  <div class="nav">
    <div class="menu">
      <ul>
        <li class="active">
          <a href="#">
            <i class="fas fa-home icon"></i>
            <span class="text">Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-users icon"></i>
            <span class="text">Students</span>
            <i class="fa fa-angle-down arrow"></i>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="#">
                <span class="text">First</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="text">Second</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="text">Third</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-calendar-check icon"></i>
            <span class="text">Attendance</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-chart-line icon"></i>
            <span class="text">Reports</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menu">
    <ul>
      <li class="logout">
        <a href="#">
          <i class="fas fa-sign-out-alt icon"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>

</div>